*{
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
  width: 100%;
  background: rgb(23,21,103);
background: linear-gradient(0deg, rgba(23,21,103,1) 0%, rgba(24,35,157,1) 50%, rgba(15,12,94,1) 100%);
  
}
